<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>departments</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="data:;base64,=" rel="icon">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/dept.css" rel="stylesheet">
</head>
<body>
<div class="col-2">
    <header id="_header">
        <h5 id="deptTheSame" style="margin-top: -10vh"></h5>
    </header>
    <main class="content">
        <article>
            <div class="flex-container" style="font-size: 3vh; line-height: 4vh; margin-top: 10vh">
            </div>
        </article>
    </main>
</div>

<script src="../js/deptTheSame.js" type="module"></script>
</body>
</html>