<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>employees</title>
    <link href="data:;base64,=" rel="icon">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/employees.css" rel="stylesheet">
</head>
<body>
<div class="col-2">
    <header id="_header" >
        <h6 style="margin-top: 10vh">Our People</h6>
    </header>

    <header id="header">
        <div>
            <h3 style="font-size: 2vh; margin-top: -15vh; color: white"></h3>
            <h3 style="font-size: 2vh; margin-top: -13vh; margin-left: 90vw">
                <a href="/login" style="color: white">Logout</a>
            </h3>
        </div>
    </header>

    <main class="content">
        <article>
            <div class="flex-container">
            </div>
        </article>
    </main>
</div>
<script src="../js/employees.js" type="module"> </script>
</body>
</html>